@use '../../../styles/mixins';

.hamburger-menu_nav {
    position: fixed;
    top: 60px;
    left: 0px;
    transform: translateX(-100%);

    padding: 40px 20px;

    height: calc(100% - 50px);
    width: 100vw;

    z-index: 20;

    display: flex;
    flex-direction: column;

    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    background-color: var(--color-bg);
    overflow-y: auto;
    transition: 0.8s;

    @include mixins.mq(tablet) {
        top: 60px;
    }
}

.is-active .hamburger-menu_nav {
    transform: translateX(0);
    transition: 0.4s;
}

.hamburger-menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    margin-bottom: 60px;
}

.hamburger-menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu_mobile address {
    margin-bottom: 10px;
}

.hamburger-menu_item {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        background-color: currentColor;
        height: 1px;
        bottom: -6px;
        transition: width 0.2s;
        pointer-events: none;
    }

    &:hover:after,
    :focus:after {
        width: 100%;
        color: var(--text-color);
    }
}

.hamburger-address_item {
    font-family: var(--font-family-light);
    font-size: 10px;
    font-weight: 300;

    @include mixins.mq(tablet) {
        font-size: var(--text-size);
    }
}