@use '../../styles/mixins';

.text {
    margin-top: 25px;
}

.textLight {
    margin-top: 25px;

    font-family: var(--font-family-light);
    font-weight: 300;
}

.textFounders {
    margin-top: 25px;

    font-family: var(--font-family-light);
    font-weight: 300;

    @include mixins.mq(desktop) {
        max-width: 700px;
        margin: 0 auto;
        padding-top: 25px;
    }
}

.textPublicOffer {
    margin-top: 25px;

    font-family: var(--font-family-light);
    font-weight: 300;
    text-align: left;
    text-transform: initial;
}

.textPublicOfferAddress {
    font-family: var(--font-family-light);
    font-weight: 300;
    text-align: left;
    text-transform: initial;
}