@use '../../styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 400px;
  margin: 0 auto;

  @include mixins.mq(desktop) {
    max-width: 500px;
  }
}

.span {
    font-family: var(--font-family-light);
    font-size: 10px;
    font-weight: 300;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

.input {
    width: 100%;
    height: 38px;

    padding: 2px 8px;

    font-family: var(--font-family-light);
    font-size: 16px;
    font-weight: 300;
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: initial;

    background-color: var(--color-bg);

    border: none;
    border-bottom: 1px solid hsl(0, 0%, 80%);

    @include mixins.mq(tablet) {
        height: 48px;
    }
}

.btn {
    height: 38px;

    font-size: 16px;
    font-weight: 300;
    letter-spacing: var(--letter-spacing);
    text-transform: var(--text-transform);


    background-color: #46B37A;
    color: #fff;
    border-color: transparent;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0%);

    @include mixins.mq(tablet) {
        height: 48px;
    }
}

.errorOverlay {
    display: flex;
    align-items: center;
}

.errorMessage {
    margin-left: 10px;

    font-size: 10px;

    color: #f84147;
}

.successBox {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: rgb(242, 111, 111);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;

    @include mixins.mq(tablet) {
        width: 620px;
    }
}

.successBoxText {
  margin-top: 10px;
}
