@use 'styles/mixins';

.text {
  margin-top: 25px;
}

.textLight {
  margin-top: 25px;

  font-family: var(--font-family-light);
  font-weight: 300;

  @include mixins.mq(desktop) {
    width: 700px;
    margin: 25px auto 0px;
  }
}

.textFounders {
  margin-top: 25px;

  font-family: var(--font-family-light);
  font-weight: 300;

  @include mixins.mq(desktop) {
    width: 700px;
    margin: 0 auto;
    padding-top: 25px;
  }
}

.textPublicOffer {
  margin-top: 25px;

  font-family: var(--font-family-light);
  font-weight: 300;
  text-align: left;
  text-transform: initial;

  @include mixins.mq(desktop) {
    width: 700px;
    margin: 25px auto 0px;
  }
}

.textPublicOfferAddress {
  font-family: var(--font-family-light);
  font-weight: 300;
  text-align: left;
  text-transform: initial;
}

.textProductsList {
  margin-top: 10px;

  font-family: var(--font-family-light);
  font-weight: 300;
}

.textProductsDetails {
  padding: 0px 20px;

  font-family: var(--font-family-light);
  font-weight: 300;
  text-transform: initial;

  @include mixins.mq(tablet) {
    padding: 0px 0px 30px 20px;
    grid-area: textDescr;
  }
}

.textSuccessPage {
  margin: 0 auto;
  padding: 20px 0px;

  max-width: 400px;

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);
  border-top: 0px;

  @include mixins.mq(desktop) {
    max-width: 500px;

  }
}
