// @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "ZionTrainOT";
    /*Can be any text*/
    src: url('./Fonts/ZionTrainOT.otf') format("opentype");
}

@font-face {
    font-family: "ZionTrainOTLight";
    /*Can be any text*/
    src: url('./Fonts/ZionTrainOTLight.otf') format("opentype");
}