@use 'styles/mixins';

.productForm {
  position: relative;
  display: grid;
  align-items: end;
  row-gap: 10px;
  grid-template-areas:
    "title title title"
    "img quantity price";

  margin: 30px auto;
  padding: 15px 20px;

  max-width: 400px;

  border-radius: 0 3px 3px 0;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

  background: var(--color-bg-white);

  text-align: left;

  @include mixins.mq(desktop) {
    max-width: 500px;
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);
  z-index: 3;
  transition: color 0.2s ease 0.1s, background 0.2s ease 0.1s, border 0.2s ease 0.1s;

  cursor: pointer;

  &:hover,
  &:focus,
  &:hover svg,
  &:focus svg {
    background-color: #f1716b;
    fill: #fff;
    border-color: #f1716b;
    transition-delay: 0s;
  }
}

.img {
  width: 50px;
  height: 50px;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textProductPriceOverlay {
  grid-area: price;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.textProductPrice {
  width: 80px;

  font-size: 16px;
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);

  text-transform: lowercase;
  text-align: right;
}

.quantityOverlay {
  grid-area: quantity;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.quantityBtn {

  padding: 0px;

  background-color: var(--color-bg-white);
  border: none;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);

  @include mixins.mq(desktop) {
    width: 30px;
    height: 30px;
  }
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;


  @include mixins.mq(desktop) {
    width: 35px;
    height: 35px;

    font-size: 14px;
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
  }
}
