@use 'styles/mixins';

.floorsList {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include mixins.mq(desktop) {
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }
}

.floorsItem {

    @include mixins.mq(desktop) {
        width: 20vw;
    }
}

.link {
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    height: 85vw;
    object-fit: cover;

    @include mixins.mq(desktop) {
        height: 30vw;
    }
}

.floorsTitle {
    padding-top: 28px;
    padding-bottom: 28px;

    background-color: var(--color-bg-panel);
}
