@use 'styles/mixins';

.overlay {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);

  @include mixins.mq(tablet) {
    max-width: 800px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      'img img'
      "title title"
      "textDescr textWeight"
      "textDescr textPrice"
      "textDescr btn";

  }

  @include mixins.mq(desktop) {
    max-width: 800px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      'img img'
      "title title"
      "textDescr textWeight"
      "textDescr textPrice"
      "textDescr btn";

  }
}

.textPrice {
  padding: 0px 20px;

  font-size: var(--text-title);
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);
  text-transform: initial;

  @include mixins.mq(tablet) {
    padding: 0px;
    grid-area: textPrice;
  }
}

.textWeight {
  padding: 0px 20px 30px;

  font-family: var(--font-family-light);
  font-weight: 300;
  text-transform: initial;

  @include mixins.mq(tablet) {
    padding: 0px;
    grid-area: textWeight;
  }
}
