@use '../../styles/mixins';


.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  margin-top: 30px;

  @include mixins.mq(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;

  }
}

.img {
  height: 150px;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include mixins.mq(mobile-tablet) {
    height: 250px;

  }

  @include mixins.mq(tablet) {
    height: 300px;

  }
}
