@use '../../styles/mixins';

.header {
    position: sticky;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
    padding: 10px 20px 10px 20px;

    background: var(--color-bg);

    border-top: 1px solid var(--color-text);

    z-index: 50;

    @include mixins.mq(desktop) {
        padding: 20px;
    }
}

.headerAddress {
    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--color-text);
}

.hoverAddress {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        background-color: currentColor;
        height: 1px;
        bottom: -6px;
        transition: width 0.2s;
        pointer-events: none;
    }

    &:hover:after,
    :focus:after {
        width: 100%;
        color: var(--text-color);
    }
}

.tel {
    position: relative;

    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);


    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 0%;
        background-color: currentColor;
        height: 1px;
        bottom: -6px;
        transition: width 0.2s;
        pointer-events: none;
    }

    &:hover:after,
    :focus:after {
        width: 100%;
        color: var(--text-color);
    }
}

.overlay {
    display: flex;
    gap: 50px;
}
