@use 'styles/mixins';

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 400px;
  margin: 0 auto;

  @include mixins.mq(desktop) {
    max-width: 500px;
  }
}

.input {
  width: 100%;
  height: 38px;

  padding: 2px 8px;

  font-family: var(--font-family-light);
  font-size: 16px;
  font-weight: 300;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-transform: initial;

  background-color: var(--color-bg);

  border: none;
  border-bottom: 1px solid hsl(0, 0%, 80%);

  @include mixins.mq(tablet) {
    height: 48px;
  }
}

.overlayHouseEntrance {
  display: flex;
  gap: 10px;
}

.errorOverlay {
  display: flex;
  align-items: center;
}

.errorMessage {
  margin-left: 10px;

  font-size: 10px;

  color: #f84147;
}



.FormControlLabel span {
  font-family: var(--font-family);
  font-size: 10px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  text-align: left;
}
