@use '../../styles/mixins';

.galleryPhotos {
  padding: 30px 20px;
}

.galleryList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 73vw 50vw;
  gap: 20px;

  margin-top: 25px;

  @include mixins.mq(desktop) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 38vw 25vw;
    gap: 40px;
  }
}

.photo {
  cursor: pointer;

  background-size: cover;
  background-position: center center;

  &:nth-child(3n) {
    grid-column: 1/3;
  }

  @include mixins.mq(desktop) {

    &:nth-child(3n) {
      grid-column: auto;
    }

    &:nth-child(6n+5) {
      grid-column: 1/3;
    }

    &:nth-child(6n) {
      grid-column: 3/5;
    }
  }
}

@each $gallery in borshch,
chomber-na-dyko,
galushki-with-meat-cherries,
galushki,
indichka,
kachana,
knish,
kulish,
kurcha,
sirnuku,
sudak,
tomatoMelon {
  .photo-#{$gallery} {
    // background-image: url('../../images/menu/#{$gallery}.jpg');
    background-image: url('https://storokiv-server.herokuapp.com/images/gallery/#{$gallery}.jpg');
  }
}

.photo-indichka {
  @include mixins.mq(desktop) {
    grid-column: 1 / 3;
    // background-image: url('../../images/menu/indichka.jpg');
    background-image: url('https://storokiv-server.herokuapp.com/images/gallery/chomber-na-dyko.jpg');

  }
}

.photo-kachana {
  @include mixins.mq(desktop) {
    grid-column: 1 / 3;
    // background-image: url('../../images/menu/kachana.jpg');
  }
}

.modalImg {
  position: absolute;
  display: block;
  height: calc(100% - 50px);
  width: calc(100% - 200px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}
