@use '../../styles/mixins';

.btnLink {
  margin-top: 30px;

  width: 100%;
  max-width: 400px;
  height: 38px;

  font-size: 16px;
  font-weight: 300;
  letter-spacing: var(--letter-spacing);
  text-transform: var(--text-transform);

  background-color: var(--btn-color);
  color: var(--color-bg-white);
  border-color: transparent;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0%);

  color: var(--color-bg-white);

  &:hover,
  :focus {
    background-color: var(--btn-hover);
  }

  @include mixins.mq(tablet) {
    height: 48px;
  }

  @include mixins.mq(desktop) {
    max-width: 500px;
  }
}

.btnLine {
  position: relative;

  letter-spacing: var(--letter-spacing);
  text-transform: var(--text-transform);

  color: var(--color-text);
  background-color: var(--color-bg);

  border: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: currentColor;
    height: 1px;
    bottom: -6px;
    transition: width 0.2s;
    pointer-events: none;
  }

  &:hover:after {
    width: 0%;
  }
}

.btnLineMargin {
  margin-top: 30px;

  position: relative;

  letter-spacing: var(--letter-spacing);
  text-transform: var(--text-transform);

  color: var(--color-text);
  background-color: var(--color-bg);

  border: none;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: currentColor;
    height: 1px;
    bottom: -6px;
    transition: width 0.2s;
    pointer-events: none;
  }

  &:hover:after {
    width: 0%;
  }
}
