@use 'styles/mixins';

.footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 20px;

    height: 50px;

    background-color: var(--color-text);

    @include mixins.mq(tablet) {
        height: 70px;

        flex-direction: row;
    }

    @include mixins.mq(desktop) {
        justify-content: space-between;
    }
}

.titleBottom {
    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    color: var(--color-text-invert);
}

.title {
    margin-bottom: 20px;

    font-size: var(--text-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);

    @include mixins.mq(desktop) {
        margin-bottom: 0px;
    }
}

.text {
    font-family: var(--font-family-light);
    font-weight: 300;
    font-size: 10px;
    line-height: var(--line-height);
    letter-spacing: 0.14em;

    @include mixins.mq(tablet) {
        font-size: var(--text-size);
    }
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--color-bg-line);

    @include mixins.mq(desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.schedule {
    @include mixins.mq(desktop) {
        text-align: right;
    }
}

.activeLink {
  position: relative;

  color: var(--color-text-invert);


  &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      background-color: var(--color-text-invert);
      color: var(--text-color);
      height: 1px;
      bottom: -6px;
      transition: width 0.2s;
      pointer-events: none;
  }
}

.link {
  position: relative;

  color: var(--color-text-invert);


  &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 0%;
      background-color: var(--color-text-invert);
      height: 1px;
      bottom: -6px;
      transition: width 0.2s;
      pointer-events: none;
  }

  &:hover:after,
  :focus:after {
      width: 100%;
      color: var(--text-color);
  }
}
