@use 'styles/mixins';

.title {
  font-size: var(--text-title);
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);
}

.titleTop {
  margin-top: 25px;

  font-size: var(--text-title);
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);
}

.titlePublicOffer {
  margin: 25px 0px;
  font-size: var(--text-title);
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);
}

.titleProductsList {
  margin-top: 10px;

  font-size: 14px;
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);
}

.titleBasketEmpty {
  margin: 0 auto;
  padding: 20px 0px;

  max-width: 400px;

  font-size: var(--text-title);
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);

  @include mixins.mq(desktop) {
    max-width: 800px;

  }
}

.titleBasketForm {
  grid-area: title;

  padding-right: 20px;

  // font-size: 10px;
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);

  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
