@use 'styles/mixins';

.productForm {
  position: relative;
  display: grid;
  align-items: end;
  // justify-content: space-between;
  gap: 10px;
  grid-template-areas:
    "title title title title"
    "img quantity price price";

  margin: 30px auto;
  padding: 15px 20px;

  max-width: 400px;

  border-radius: 0 3px 3px 0;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

  background: var(--color-bg-white);

  text-align: left;

  @include mixins.mq(tablet) {
    grid-template-areas:
    "title title title"
    "img quantity price";
  }

  @include mixins.mq(desktop) {
    max-width: 600px;
  }
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);
  z-index: 3;
  transition: color 0.2s ease 0.1s, background 0.2s ease 0.1s, border 0.2s ease 0.1s;
}

.img {
  width: 50px;
  height: 50px;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textProductPrice {
  grid-area: price;

  font-size: 16px;
  line-height: var(--line-height-title);
  letter-spacing: var(--letter-spacing-title);

  text-transform: lowercase;
  text-align: right;
}

.quantity {
  grid-area: quantity;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}

.quantityBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background-color: var(--color-bg-white);
  border: 1px solid var(--color-bg-line);
}

.overlay {
  display: flex;
  align-items: center;
}
