@use '../../styles/mixins';

.img {
  width: 100%;
}

.imgFloor {
  margin-bottom: 25px;

  width: 100%;
}

.imgFounders {
  width: 100%;

  @include mixins.mq(desktop) {
    display: flex;
    height: 520px;
    width: auto;
    margin: 0 auto;
  }
}

.imgProductsList {
  width: 100%;
  height: 175px;
}

.imgProductsDetails {
  width: 100%;

  @include mixins.mq(tablet) {
    margin: 0 auto;
    width: 400px;
    grid-area: img;
  }

}

.imgBasketProducts {
  grid-area: img;

  width: 70px;
  height: 70px;
}
